@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Net.Http;
@using System.Net.Http.Json;
@using System.Threading.Tasks;
    [Authorize(Policy = "Admin")]
    {
<h3>test</h3>

@code {
        [Authorize(Policy = "Admin")]
        {
            [Inject]
            private HttpClient Http { get; set; }


    protected override async Task OnInitializedAsync()
    {
        try
        {
            _agents = await Http.GetFromJsonAsync<SecretAgent[]>("api/SecretAgent");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
